.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  /* .navbar-logo img {
    width: 200px;
  } */
  
  .header-left {
  display: flex;
  flex-direction: row;
  margin: 0px 0px;
  align-items: center;
}
.header-left img{
  margin-right: 10px;
}
.header-left h4{
  margin-right: 10px;
  margin-left: 10px;
  font-weight: normal;
}

  .header-left > h4:hover {
  background-color: #ddd;
  border: 35px;
}
.navbar-search{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 0px;
}

.navbar-search input{
  width: 600px; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  outline: none;
}

  .signin{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 40px;
  }

  .logIn {
    padding: 5px 8px;
    background-color: grey;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .signUp {
    padding: 5px;
    padding-left: 6px;
    padding-right: 9px;
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }